.settings
target
.DS_Store
.classpath
.project
.idea
*.vpp~*
*.vpp.working
*.iml
*.o
*.a
*_bin
certs
logs
scripts/admin
all-production-servers.txt
MANIFEST.MF
logs
config.txt
docs
installer
packages
bin

